# --- macOS Metadata ---
.DS_Store
.DS_Store?
._*

# --- Windows System Files ---
Thumbs.db
ehthumbs.db
Desktop.ini
~$*

# --- Visual Studio Code ---
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.code-workspace

# --- Python Cache & Bytecode ---
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
